#fun{
  width:100%;
  height:100%;
}

#logval{
  text-align:center;

}

body{
  overflow: hidden;
  margin:0px;
 background-color:black;
}

canvas {
    width: 100%;
    height: 100%
}




#info{
  position: absolute;
  text-align:center;
  font-size:30px;
  font-family:"helvetica";
  font-weight:400;
  color:#AAA;
  bottom:0px;
  width:100%;
}


