#fun{
  width:100%;
  height:100%;
}

#logval{
  text-align:center;

}

body{
  overflow: hidden;
  margin:0px;
 background-color:black;
}

canvas {
    width: 100%;
    height: 100%
}




#info{
  position: absolute;
  text-align:left;
  font-size:20px;
  font-family:"helvetica";
  font-weight:400;
  color:#AAA;
  bottom:0px;
  margin-left:20px;
  margin-bottom:20px;
}

#info a, #info-right a{
  color:rgb(126, 229, 255);
  text-decoration:none;
}


#info-right{
  position: absolute;
  text-align:right;
  font-size:20px;
  font-family:"helvetica";
  font-weight:400;
  color:#AAA;
  bottom:0px;
  right:0px;
  padding-right:20px;
  margin-bottom:20px;
}
