#fun{
  position: absolute;
  width:100%;
  height:100%;

}

#logval{
  font-size:100px;
  text-align:center;
  width:100%

}

body{
  overflow: hidden;
  margin:0px;
  background-color:#2A0052;
}


#press{
  width:100%;
  text-align:center;
  font-size:130px;
  font-family:"helvetica";
  font-weight:900;
  color:white;
  margin-left:20px;
  z-index:10;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#directions{
  text-align:center;
  width: 50%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#title{
  width:100%;
  text-align:center;
  font-size:100px;
  font-family:"helvetica";
  font-weight:900;
  color:#00FFEE;
  z-index:10;
}

#info{
  position: absolute;
  text-align:right;
  font-size:100px;
  font-family:"helvetica";
  font-weight:900;
  color:white;
  bottom:0px;
  right:0px;
  z-index:10;
}


#canvas{
 top:0px;
 position:absolute;
 z-index:-1;
}

